*,*::before,*::after{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;

}

.calc-grid {
    display: grid;
    grid-template-rows: minmax(80px, auto) repeat(5,70px);
    grid-template-columns: repeat(4, 70px);
    background-color: brown;
    padding: 100px;
   border: green 4px solid;
   row-gap: 1.5em;
   column-gap: 1.5em;
    

}

.display-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
    border: 1px red solid;
    grid-column: span 4;
}

 .equals-button{
    grid-column: span 2;
   
}

.ac-button {
    grid-column: span 2;
}

button{
    
    position: relative;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    outline: none;
    border: 4px #090909 solid;
    background: linear-gradient(145deg, #171717, #444245);
    box-shadow: inset 2px 2px 0px #7d7c7e,
    inset -2px -2px 0px #1c1c1c;

}

button:hover {
    color: skyblue;
}

button::before {
    position: absolute;
    content: "";
    height: 7.5em;
    width: 7.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    background: linear-gradient(145deg, #262626,#606060);
    box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
    z-index: -1;
}