*,*::before,*::after{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(145deg, #e8eee8, #323a37);

}

.calc-grid {
    display: grid;
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    grid-template-columns: repeat(4, 5rem);
    background: linear-gradient(280deg, #171717, #444245);
    padding: 6rem 3rem 3rem 2.5rem;
    border: inset 10px #090909 solid;
   border-radius: 5px;
   box-shadow: 31px 35px 58px 8px rgba(10,9,9,0.83);
 

}

.display-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 2em;
    color: rgb(184, 190, 196);
    padding: 20px;
    grid-column: span 4;
    outline: none;
    border: inset 1px #090909 solid;
    background: linear-gradient(145deg, #40633f, #24332d);
    box-shadow: inset 2px 2px 0px #225732;    
}
.prev {
    font-size: .5em;
}
 .equals-button{
    grid-column: span 2;
   
}

.ac-button {
    grid-column: span 2;
}

button{
    
    font-size: 1.3em;
    outline: none;
    border: 4px #090909 solid;
    background: linear-gradient(145deg, #171717, #444245);
    box-shadow: inset 2px 2px 0px #7d7c7e,
    inset -2px -2px 0px #1c1c1c;

}

button:hover {
    color: skyblue;
}

